%btn-controls {
  display: flex;
  align-items: center;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

.add-project-modal {
  height: fit-content;
  border: 1px solid black;
}

.btn--quick-add-task {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 2rem;
  top: 2rem;
}

.btn--project-controls {
  @extend %btn-controls;

  height: 2rem;
  align-self: center;
}
