%btn-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

.btn--quick-add-task {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 2rem;
  top: 2rem;
}

.btn--project-controls {
  @extend %btn-controls;

  height: 2rem;
  align-self: center;
}

.btn--task-controls {
  @extend %btn-controls;

  position: absolute;
  top: 0;
  right: 0;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 0.3rem;

  &:hover {
    background-color: #eee;
  }
}
