.add-project-modal {
  height: fit-content;
  border: 1px solid black;
}

.btn--quick-add-task {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 2rem;
  top: 2rem;
}

.btn--project-controls {
  font-size: 3rem;
  font-weight: 600;
}
