.sidebar {
  display: flex;

  flex: 1 0 auto;
  flex-direction: column;
  gap: 1.6rem;

  width: 27rem;
  padding: 1.6rem;

  font-size: 1.5rem;

  background-color: var(--main-color);

  ul {
    list-style: none;
  }
}

.projects-list {
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;

    > span:first-child {
      font-weight: 600;
    }
  }
}

.project-item {
  display: flex;
  height: 4rem;
  border-radius: 1rem;
  cursor: pointer;

  &--link {
    display: flex;
    overflow-x: hidden;

    align-items: center;

    width: 100%;
    padding: 0 1rem;

    color: inherit;
    text-decoration: none;

    span {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:hover .btn--project-controls {
    visibility: visible;
  }

  &:hover,
  &.active {
    background-color: #96b76f;
  }

  &:not(:last-child) {
    margin-bottom: 0.2rem;
  }
}

.btn--add-project {
  border: none;

  font-size: 2.4rem;
  font-weight: 600;

  background-color: transparent;
  opacity: 0.6;

  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}
