.sidebar {
  display: flex;
  flex-direction: column;

  width: 20rem;

  font-size: 1.6rem;
  text-align: center;

  background-color: #a8d76f;
}

.project-item {
  display: flex;
  justify-content: space-between;

  &--link {
    display: flex;
    align-items: center;

    width: 100%;

    text-decoration: none;

    cursor: pointer;
  }

  &:hover,
  &--active {
    background-color: #7b9e51;
  }
}

.btn--add-project {
  border: none;

  font-family: inherit;
  font-size: 3.5rem;
  font-weight: 600;
  color: inherit;

  background: none;

  cursor: pointer;

  &:hover {
    background-color: #7b9e51;
  }
}
