.tasks {
  list-style: none;
}

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1px;
  min-height: 5.5rem;
  padding: 0.8rem 0 0.8rem 0.5rem;
  border-bottom: 1px solid #f0f0f0;

  &__description {
    font-size: 1.3rem;
    color: grey;
  }

  &__due-date {
    font-size: 1.1rem;
  }

  &__project-title {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    text-decoration: none;
    font-size: 1.4rem;

    cursor: pointer;
  }

  &:hover .btn--task-controls {
    visibility: visible;
  }
}

.sortable-drag {
  opacity: 1 !important;
  border-radius: 3px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: white;

  .btn--task-controls {
    visibility: hidden;
  }
}

.sortable-ghost {
  border-radius: 3px;
  background-color: #f1f1f1;

  * {
    visibility: hidden;
  }
}
