.tasks {
  width: 60rem;
  margin-right: 4rem;

  list-style: none;
}

.task {
  @include break-word;

  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;

  min-height: 5.5rem;
  padding: 0.8rem 3rem 0.8rem 0.5rem;
  border-bottom: 1px solid #f0f0f0;

  &__title {
    margin-bottom: 0.3rem;
  }

  &__description {
    margin-bottom: 0.5rem;

    font-size: 1.4rem;
    color: grey;
  }

  &__due-date {
    font-size: 1.2rem;
  }

  &__project-title {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    text-decoration: none;
    font-size: 1.4rem;

    cursor: pointer;
  }

  &:hover .btn--task-controls {
    visibility: visible;
  }

  &.completed {
    &,
    *:not(.btn--task-controls, .btn--task-controls *) {
      cursor: default;
    }

    .task__title {
      text-decoration: line-through;
    }
  }
}

.sortable-drag {
  opacity: 1 !important;
  border-radius: 3px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: white;

  .btn--task-controls {
    visibility: hidden;
  }
}

.sortable-ghost {
  border-radius: 3px;
  background-color: #f1f1f1;

  * {
    visibility: hidden;
  }
}
